<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="cn.com.howesdomo.XamarinTest" android:installLocation="auto">
	<!-- 由于Android6.0之后有运行时权限，故修改版本号使其不用运行时获取权限 -->
	<!--<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21" />-->
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />	
	<application android:label="Client.Android"
               android:usesCleartextTraffic="True">
    <!-- 从Android 9.0（API级别28）开始，默认情况下禁用明文支持。因此http的url均无法在webview中加载
    报错信息如下, XXXX网页无法加载, 因为: net::ERR_CLEARTEXT_NOT_PERMITTED
    解决方法: 加上配置 android:usesCleartextTraffic -->
    
		<service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
			<intent-filter>
				<action android:name="com.baidu.location.service_v2.2"></action>
			</intent-filter>
		</service>
		<!--百度定位 -->
		<!--http://lbsyun.baidu.com/apiconsole/key -->
		<meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="2C8obfgE4iadOcsUec9UspjCs16kdSiZ" />
    <!--FileProvider-->
    <provider android:name="android.support.v4.content.FileProvider" android:authorities="cn.com.howesdomo.XamarinTest.fileprovider" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
    </provider>
	</application>
</manifest>